.prod_title{
  margin-top: 2vw;
  font-size: 1.5vw;
  font-weight: bold;
}

.main_prod_grid {
  /* border: 1px solid; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1vw;
  justify-content: center;
  margin-top: 1vw;
  
}

.main_prod_detail {
  border: 0.1vw solid rgba(169, 169, 169, 0.241);
  display: flex;
  flex-direction: column;
}

.main_prod_img {
  height: 14vw;
}

.main_prod_img img {
  height: 100%;
  width: 100%;
}

.main_prod_title {
  font-size: 1.3vw;
  font-family: 'JalnanGothic';
  padding-bottom: 0.5vw;
}

.main_prod_price {
  display: flex;
  justify-content: space-between;
  font-size: 0.9vw;
}

.main_prod_info {
  padding: 1vw;
  max-width: 14vw;
}

.main_prod_info p:first-child {
  width: 13vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.plus_btn{
  width: 100%;
  text-align: center;
  margin-top: 1vw;
  display: flex;
  justify-content: center;
}
.load_more_button{
  width: 13vw;
  height: 2.5vw;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 1vw;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}

.btn_1 {
  background: rgb(6,14,131);
  background: linear-gradient(0deg, #2748b0 0%, #2748b0 100%);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 500px) {
  .prod_title{
    margin-top: 2vw;
    font-size: 3vw;
    font-weight: bold;
  }

  .main_prod_img {
    height: 25vw;
  }

  .main_prod_grid {
    grid-template-columns: repeat(3, 1fr);
  column-gap: 2vw;
  row-gap: 2.5vw;
  }

  .main_prod_info {
    padding: 1vw;
    max-width: 27vw;
  }

  .main_prod_info p:first-child {
    width: 27vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .main_prod_title {
    font-size: 2vw;
    font-family: 'JalnanGothic';
    padding-bottom: 1vw;
  }
  
  .main_prod_price {
    display: flex;
    justify-content: space-between;
    font-size: 2vw;
  }
  .plus_btn{
    width: 100%;
    text-align: center;
    margin-top: 3vw;
    display: flex;
    justify-content: center;
  }

  .load_more_button{
    width: 30vw;
    height: 4vw;
    color: #fff;
    border-radius: 5px;
    padding: 4vw 5vw;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 3vw;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
      box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
      7px 7px 20px 0px rgba(0,0,0,.1),
      4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }
  
  .btn_1 {
    background: rgb(6,14,131);
    background: linear-gradient(0deg, #2748b0 0%, #2748b0 100%);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}