.admin_prod_container > svg {
  position: absolute;
  display: block;
  opacity: 0.8;
  background-color: white;
  border: 0.15vw solid #a8bdff;
  color: #5273e1;
  border-radius: 0.2vw;
  margin: 0.6vw;
  padding: 2px;
  width: 40px;
  height: 40px;
  right: 55px;
  bottom: 25px;
  cursor: pointer;
  transition: 0.2s;
  z-index: 3;
}

.admin_prod_container > svg:hover {
  border-radius: 12px;
  background-color: #5273e1;
  color: white;
}

.admin_prod_search_section {
  padding-bottom: 1.6vh;
}

.admin_prod_search_section > input {
  font-size: 1.2vw;
  padding: 1vh 0.8vw;
  border-radius: 0.2vw;
}

.datailModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  max-height: 80%;
  overflow: auto;
  margin: auto;
  border: 0.2vw solid #ccc;
  border-radius: 0.2vw;
  outline: none;
  padding: 3vh 2vw;
  background-color: rgb(233, 233, 255);
}

.modal_seller_section, .modal_buyer_section {
  display: flex;
}

.modal_prod_title {
  display: inline-block;
  font-size: 1vw;
  font-weight: 700;
  border: 0.1vw solid black;
  border-radius: 0.2vw;
  padding: 1vh 0.8vw;
  margin-bottom: 1vh;
}

.modal_prod_comment {
  width: 100%;
  border: 0.1vw solid black;
  border-radius: 0.2vw;
  font-size: 0.8vw;
  padding: 0.8vh 0.8vw;
  margin-bottom: 1vh;
}

.modal_prod_buyer_info {
  display: flex;
}

.modal_seller, .modal_buyer {
  display: inline-block;
  padding: 0.8vh 0.8vw;
  font-size: 1vw;
  font-weight: 700;
  border: 0.1vw solid black;
  border-radius: 0.2vw;
  margin-bottom: 1vh;
  margin-right: 0.5vw;
}

.modal_seller_info, .modal_buyer_info {
  display: flex;
  font-size: 1vw;
  font-weight: 700;
  border: 0.1vw solid black;
  border-radius: 0.2vw;
  padding: 0.8vh 0.8vw;
  margin-bottom: 1vh;
}

.modal_open_delete_section {
  display: flex;
  justify-content: space-between;
}

.modal_open_delete_section > div {
  display: inline-block;
  border: 0.2vw solid black;
  font-size: 1.2vw;
  font-weight: 700;
  border-radius: 0.2vw;
  padding: 0.8vh 0.8vw;
  transition: 0.2s;
  cursor: pointer;
}

.modal_prod_close:hover, .modal_prod_del:hover {
  background-color: rgb(255, 164, 164);
  color: white;
  border: 0.2vw solid rgb(198, 44, 44);
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.admin_prod_table {
  text-align: center;
  width: 100%;
  table-layout: fixed;
}

.admin_prod_table_tr {
  position: sticky;
  top: 0;
  font-size: 1.2vw;
  width: 100%;
}

.admin_prod_table_tr > th {
  background-color: #627dcd;
  color: white;
  padding: 0.8vh 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.admin_prod_table_tbody > tr > td {
  padding: 0.8vh 1vw;
  background-color: #d9e1ff;
  font-size: 0.8vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: 0.1s;
}

.admin_prod_table_tbody > tr:hover > td {
  background-color: #a8bdff;
}

.admin_prod_table_tbody > tr > td:hover {
  background-color: #5273e1;
  color: white;
}

.admin_prod_table_tbody > tr > td > button {
  font-size: 1vw;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
