.usermgmt_search_section {
  padding: 0 0.2vw 1.6vh;
}

.usermgmt_search_section > input {
  font-size: 1.2vw;
  padding: 1vh 0.8vw;
  border-radius: 0.2vw;
}

.usermgmt_table {
  text-align: center;
  width: 100%;
}

.usermgmt_table_tr {
  font-size: 1.2vw;
}

.usermgmt_table_tr > th {
  background-color: #627dcd;
  color: white;
  padding: 0.8vh 0;
  background-color: white;
}

.usermgmt_table_tr {
  position: sticky;
  top: 0;
  font-size: 1.2vw;
}

.usermgmt_table_tr > th {
  background-color: #627dcd;
  color: white;
  padding: 0.8vh 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.usermgmt_table_tbody > tr > td {
  padding: 0.8vh 0.5vw;
  background-color: #d9e1ff;
  font-size: 0.8vw;
  padding: 0.8vh 0.5vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: 0.1s;
}

.usermgmt_table_tbody > tr:hover > td {
  background-color: #a8bdff;
}

.usermgmt_table_tbody > tr > td:hover,
.usermgmt_table_tbody > tr > td:hover > a {
  background-color: #5273e1;
  color: white;
}

.usermgmt_table_tbody > tr > td > button {
  font-size: 0.8vw;
}

.usermgmt_table_td_adress {
  max-width: 350px;
}