@font-face {
  font-family: 'seolleimcool-SemiBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/seolleimcool-SemiBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
*{
  margin: 0;
  box-sizing: border-box;
}

.total_display{
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.display_section {
  margin: 0 40px;
}

@media (max-width: 1024px) {
  .total_display{
    width: 80%;
  }
}

@media (max-width: 500px) {
  .total_display{
    width: 100%;
  }
  .display_section {
    margin: 0 10px;
  }
}