@font-face {
  font-family: 'seolleimcool-SemiBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/seolleimcool-SemiBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'JalnanGothic';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SejonghospitalBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/SejonghospitalBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

*{
  margin: 0;
  box-sizing: border-box;
}

div, li {
  user-select: none;
  box-sizing: border-box;
}

a{
  color: black;
  font-family: 'seolleimcool-SemiBold';
}

.total_display{
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.display_section {
  margin: 0 40px;
}

.topBtnBox{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 0.1vw;
}

.scroll-to-top-button {
  position: fixed;
  bottom: 3vw;
  right: 4vw;
  font-family: 'SejonghospitalBold';
  color: #fff;
  font-size: 2vw;
  width: 4vw;
  height: 4vw;
  border-radius: 0.4vw;
  background-color: #2748b0;
  border: 2px solid white;
  cursor: pointer;
  display: none;
  transition: all 0.3s;
}

.scroll-to-top-button:hover {
  background-color: white;
  color: #2748b0;
  border: 2px solid #2748b0;
  border-radius: 50%;
}

.scroll-to-top-button.visible {
  display: block;
}


@media (max-width: 1024px) {
  .total_display{
    width: 80%;
  }
}

@media (max-width: 500px) {
  .total_display{
    width: 100%;
  }
  .display_section {
    margin: 0;
  }

  .scroll-to-top-button {
    position: fixed;
    bottom: 15vw;
    right: 3vw;
    font-family: 'SejonghospitalBold';
    color: #fff;
    font-size: 4vw;
    width: 10vw;
    height: 10vw;
    border-radius: 0.4vw;
    background-color: #2748b0;
    border: 2px solid white;
    cursor: pointer;
    display: none;
    transition: all 0.3s;
    opacity: 0.5;
  }

  .scroll-to-top-button:hover {
    background-color: white;
    color: #2748b0;
    border: 2px solid #2748b0;
    border-radius: 50%;
    opacity: 1;
  }
}