.chat_room_Main{
  /* border: 3px solid crimson; */
  width: 100%;
  height: 100%;
  max-height: 35vw;
  min-height: 35vw;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #FFFFFF;
  border-radius: 8px;
}
.room_Input_component{
  position: absolute;
}


/* 미선택시 */
.please_select{
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  justify-content: center;
  align-content: center;
  text-align: center;
  align-items: center;
}
.malpoongseon{
  margin: 12vw auto 1vh; 
  font-size: 15vh;
}
.please_select > p {

  font-size: 1.5vw;
}

/* info */
.chat_room_info_main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #2979FF;
  border-radius: 4px 4px 0 0;
  height: 3vw;
  width: 100%;
  border-bottom: 2px solid #D3D3D3;
}

.InnerContainer {
  flex: 0.5;
  display: flex;
  align-items: center;
  margin-left: 1.7vw;
  color: white;
}
.info_who{
  font-size: 1.3vw;
}

.onlineIcon {
  margin-right: 2vw;
}
.close_room{
  margin-right: 0.8vw;
  color: white;
  cursor: pointer;
  font-size: 1.2vw;
  z-index: 10;
  /* padding-right: 2vw; */
}

/* 채팅 라인 */
.messages {
  min-height: 28vw;
  max-height: 28vw;
  /* max-height: 40vh;   */
  height: 100%;
  padding: 5% 0;
  overflow: auto;
  flex: auto;
  overflow-y: auto;  
}

.messages::-webkit-scrollbar{
  display: none;
}
 
.messagesOnImages {
  min-height: 21vw;
  max-height: 21vw;  
  height: 100%;
  padding: 5% 0;
  overflow: auto;
  flex: auto;
  /* border: 1px solid #000; */  
  overflow-y: auto;
}



.messageBox {
  background: #F3F3F3;
  border-radius: 20px;
  padding: 5px 20px;
  color: white;
  display: inline-block;
  max-width: 80%;
}

.messageText {
  width: 100%;
  letter-spacing: 0;
  float: left;
  font-size: 1.1em;
  word-wrap: break-word;
}

.messageText img {
  vertical-align: middle;
}

.messageContainer {
  display: flex;
  justify-content: flex-end;
  padding: 0 5%;
  margin-top: 3px;
}

.sentText {
  display: flex;
  align-items: center;
  font-family: Helvetica;
  color: #828282;
  letter-spacing: 0.3px;
}

.pl-10 {
  padding-left: 10px;
}

.pr-10 {
  padding-right: 10px;
}

.justifyStart {
  justify-content: flex-start;
}

.justifyEnd {
  justify-content: flex-end;
}

.colorWhite {
  color: white;
}

.colorDark {
  color: #353535;
}

.backgroundBlue {
  background: #2979FF;
}

.backgroundLight {
  background: #F3F3F3;
}

/* preview */
.file-previews-container {
  padding: 0.8vh;
  min-width: 100%;
  max-width: 100%;
  min-height: 7vw;
  max-height: 7vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 1vh;
  position: absolute;
  background-color: rgba(65, 65, 65, 0.1);
  overflow-y: auto;
}


.file-previews {
  width: 100px;
  height: 100px;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}

.file-previews img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: flex;
}

.cancel-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

/* input */
.chat_room_input_main {
  display: flex;
  width: 100%;
  border-top: 2px solid #D3D3D3;
  align-content: end;
  bottom: 0;
  background-color: #fff;
  position: absolute;
}

.input_area {
  border: none;
  border-radius: 0;
  padding: 1.7vw 1.7vw 1.7vw 2vw;
  width: 80%;
  font-size: 1vw;
  max-width: calc(100% - 100px);
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

#file-upload{
  display: none;
}
.custom-file-upload{
  padding-left: 1.2vw;
  /* padding-left: 3%; */
  font-size: 4vh;
  margin: auto;
}
.sendButton {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #2979FF;
  padding: 0.7vw;
  display: inline-block;
  border: none;
  width: 20%;
  border-radius: 0 0 8px 0;
  font-size: 1.1vw;
}


