.room_list_Main{
  /* border: 1px solid #000;  */
  max-height: 35vw;
  min-height: 35vw;
  overflow-y: auto;
}

.room_list_Main::-webkit-scrollbar {
  width: 0.5vw;
  display: none;
}
 
.room_list_Main::-webkit-scrollbar-thumb {
  background: #2979FF;
  /* border-radius: 20px; */
  border-radius: 1.3889vw;
}

.room_list_Main::-webkit-scrollbar-track {
  background: #ddd;
  /* border-radius: 20px; */
  border-radius: 1.3889vw;
}


.room_list_Top{
  height: 3vw;
  padding-bottom: 0.8vw;
  border-bottom: 2px solid #D3D3D3;
}
.room_list_name{
  font-size: 2vw;
}
/* .bdr{
  height: 90%;

  border-right: 1px solid #D3D3D3;
} */
.room_list{
  font-size: 1vw;
  display: block;
  padding: 2vw;
  transition: 0.3s;
  cursor: pointer;
}

.room_list:hover{
  background-color: rgba(128, 128, 128, 0.136);
}