.chat_room_info_main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #2979FF;
  width: 100%;
}

.InnerContainer {
  flex: 0.5;
  display: flex;
  align-items: center;
  margin-left: 5%;
  color: white;
  font-size: 1.4vw;
}


.onlineIcon {
  margin-right: 5%;
}
