.KJH_shop-review_container {
  display: flex;
  flex-wrap: wrap;
  padding: 0.8vw;
  justify-content: space-between;
  gap: 1vh;
}

.KJH_shop-review_main {
  display: flex;
  position: sticky;
  top: 0;
  background-color: #82a1ff;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  padding: 1vh 0.5vw;
  margin-bottom: 0.4vh;
  border-radius: 0.4vw;
}

.KJH_shop-review_main_info {
  display: inline-block;
  padding: 0.8vh 0.5vw;
  border-radius: 0.6vw;
  font-size: 1.4vw;
  background-color: white;
}

.KJH_shop-review_post {
  padding: 0.6vh 0.4vw;
  background-color: white;
  border-radius: 0.5vw;
  font-size: 1vw;
  transition: all 0.3s;
  border: 0.2vw solid black;
}

.KJH_shop-review_post:hover {
  border: 0.2vw solid white;
  background-color: #3665ff;
  color: white;
}

.KJH_shop-review_no-review {
  width: 100%;
  padding-left: 0.6vw;
  font-size: 1.2vw;
}

.KJH_shop-review_info {
  background-color: #ebf0ff;
  width: calc(51% - 1vw);
  padding: 0.8vw;
  border-radius: 0.5vw;
  box-sizing: border-box;
}


/* 리뷰어, 작성일 */
.KJH_shop-review_writer_section {
  display: flex;
  margin-bottom: 1vh;
}

.KJH_shop-review_img {
  width: 6vw;
  margin-right: 0.5vw;
}

.KJH_shop-review_img > img {
  width: 100%;
  height: 100%;
  border-radius: 0.4vw;
  font-size: 1vw;
}

.KJH_shop-review_img_right_section {
  display:  flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
}

.KJH_shop-review_writer {
  background-color: #5970bd;
  color: white;
  padding: 0.4vw;
  border-radius: 0.5vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.2vw;
  font-weight: 700;
}

.KJH_shop-review_date {
  background-color: #98b0ff;
  color: white;
  padding: 0.1vw 0.2vw;
  border-radius: 0.2vw;
  display: inline-block;
  white-space: nowrap;
  margin-left: 1vw;
  font-size: 0.8vw;
}

.KJH_shop-review_comment {
  background-color: white;
  border: 0.1vw solid black;
  border-radius: 0.5vw;
  padding: 0.5vw;
}