.JSW_container {
  font-family: "seolleimcool-SemiBold";
}

.mypage_modalBg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.456);
}

.fa-xmark {
  cursor: pointer;
}
.JSW_modal_selectform {
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items:center;
}

.JSW_modal_formtitle {
  font-size: 1.5vw;
  margin-bottom: 0.4vw;
  font-family: 'SejonghospitalBold';
}

.JSW_modal_imgpreview {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 13vw;
}

.JSW_modal_imgpreview img {
  width: 100%;
  border-radius: 0.5vw;
  border: 0.15vw solid rgb(0, 0, 0);
  height: 100%;
}

.JSW_modal_about textarea {
  height: 8vw;
  resize: none;
}

.JSW_modalsetbutnBox {
  display: flex;
  justify-content: end;
}

.active {
  color: #2748b0;
}

.noactive {
  color: black;
}

.JSW_mypage_title {
  display: flex;
  align-items: center;
  padding: 2vw 1.5vw;
  font-size: 3vw;
  font-weight: 900;
  color: white;
  width: 100%;
  height: 8vw;
  background-color: #2748b0;
  font-family: "SejonghospitalBold";
}

.JSW_Main {
  display: grid;
  grid-template-columns: 1fr 5fr;
  margin-bottom: 3vw;
  border-bottom: 0.15vw solid black;
  border-left: 0.15vw solid black;
  border-right: 0.15vw solid black;
}

.JSW_Main_view {
  max-width: 100%;
  max-height: 100vh;

  display: grid;
  grid-template-columns: 1fr 5fr;

  padding-bottom: 5%;
}

/* .JSW_Sec1 {
  border: 1px solid #000;
} */

.JSW_menubar {
  height: 100%;
  border-right: 0.15vw solid #000;
}

#JSW_Mypage_tag {
  text-align: center;
  font-size: 120%;
  font-weight: 900;
}

.JSW_nav1 {
  position: sticky;
  top: 6.5vw;
}

.JSW_nav1 > ul {
  padding: 0;
  width: 100%;
}

.JSW_nav1 > ul > li {
  list-style: none;
  text-align: center;
  font-size: 1.3vw;
  font-weight: 700;
  padding: 1vw;
  background-color: white;
  transition: 0.2s background-color;
}

.JSW_nav1 > ul > li:hover {
  background-color: rgb(239, 239, 239);
}

.JSW_nav1 > ul > li > a {
  text-decoration: none;
  font-size: 100%;
}
.JSW_nav1 > ul > li > p {
  cursor: pointer;
  font-size: 100%;
}

.JSW_Sec2 {
  display: flex;
  flex-direction: column;
  margin: 1vw;
}

.JSW_Sec2_view {
  height: auto;
}

.JSW_Sec2-1 {
  width: 100%;
  display: grid;
  grid-template-columns: 1.5fr 3fr;
  padding-bottom: 1%;
  box-shadow: 0 1px 0 0;

  /* border-bottom: 1px solid #000; */
}

.JSW_Sec2-1_left {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.JSW_Sec2-1_left > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.JSW_myname {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2vw;
  font-weight: 600;
  font-family: "JalnanGothic";
}

.JSW_Sec2-1_Right {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1vw;
}

.JSW_userinfo {
  margin-top: 1%;
  box-shadow: 0 0 2px 1px;
  padding: 1%;
  width: 100%;
  height: 13vw;

  overflow-y: scroll;
}

.JSW_mypage_img:hover {
  box-shadow: 0px 0px 2px 1px;
}

.JSW_btnBox {
  display: flex;
  column-gap: 1vw;
}

.JSW_Cristal {
  display: block;
  padding: 0.8vw;
  background-color: #2748b0;
  color: white;
  border-radius: 0.5vw;
  font-size: 1vw;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.2s;
}

.JSW_Cristal:hover {
  background-color: #375cd5;
}

.JSW_Cristal2 {
  display: block;
  text-align: center;
  padding: 0.8vw;
  background-color: #2748b0;
  color: white;
  border-radius: 0.5vw;
  font-size: 1vw;
  cursor: pointer;
  transition: background-color 0.2s;
}

.JSW_Cristal2:hover {
  background-color: #375cd5;
}

.JSW_Sec2-2 {
  margin-top: 1vw;
  overflow: hidden;
}

.JSW_Sec2-2_Left {
  border: 1px solid #000;
}

.JSW_Sec2-2_Right {
  border: 1px solid #000;
}

.JSW_userlist {
  font-size: 1.2vw;
  font-weight: 500;
  word-wrap: break-word;
  padding: 0.3vw 0;
}

.JSW_userinfoflex {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 2fr;
  height: 100%;
}

#JSW_modalALL {
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40vw;
  border: 0.4vw solid #2748b0;
  border-radius: 0.5vw;
  padding: 1.5vw;
  z-index: 7;
}

.JSW_modal_loginInputBox {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  column-gap: 1vw;
  margin-bottom: 2vw;
}

.JSW_modal_addinput{
  background-color: rgba(0, 0, 0, 0.123);
}

.JSW_modal_loginInputBox_s {
  width: 100%;
  padding: 0.5vw;
  font-size: 1vw;
  font-weight: 900;
  border-radius: 0.3vw;
}

.JSW_modal_mainTitle {
  font-weight: 900;
}

.JSW_modal_loginCloseBtn {
  font-family: 'SejonghospitalBold';
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2vw;
  margin-bottom: 1vw;
}

.JSW_mypagewater {
  font-family: 'SejonghospitalBold';
  background-color: #2748b0;
  border-style: none;
  color: white;
  padding: 0.6vw;
  border-radius: 0.3vw;
  margin-top: 1vw;
  font-size: 1.3vw;
  transition: background-color 0.2s;
  cursor: pointer;
}

.JSW_mypagewater:hover {
  background-color:#375cd5;
}

.CHM_useringoflex{
display: flex;
flex-direction: column;
justify-content: space-between;
}

.JSW_imgupload {
  background-color: #ccf4dc;
  padding-top: 1%;
  padding-left: 3%;
  width: 6vw;
  height: 3vh;
}

.JSW_btnBox {
  padding: 0.5vw;
  display: flex;
  align-items: center;
}

.CHM_myinfocontain {
  display: flex;
  flex-direction: column;
  margin-top: 1vw;
}

.CHM_myinfobox1 {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  column-gap: 1vw;
}

.CHM_myinfoimgbox {
  min-height: 13vw;
  width: 100%;
  height: 100%;
}

.CHM_myinfobox1 img {
  width: 100%;
  height: 100%;
  border-radius: 0.5vw;
  border: 0.15vw solid rgb(0, 0, 0);
}

.JSW_useraboutbox {
  display: grid;
  grid-template-columns: 1fr 9fr;
  padding: 1vw 0;
  font-size: 1.2vw;
  border-bottom: 0.25vw solid rgb(0, 0, 0);
}

.JSW_userabout {
  border: 0.1vw solid rgba(0, 0, 0, 0.258);
  height: 10vw;
  overflow-y: auto;
  padding: 0 0.3vw; /* 스크롤이 필요할 때만 표시되도록 auto로 변경 */
  border-radius: 0.1vw;
}

.CHM_hoogiBox {
  padding: 1vw;
  margin-bottom: 1vw;
  border: 0.1vw solid rgba(0, 0, 0, 0.258);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 1vw;
  display: grid;
  grid-template-columns: 1fr 9fr;
}

.JSW_profile_hoogi {
  display: flex;
  padding-right: 1vw;
}

.JSW_profile_hoogi img {
  width: 100%;
  height: 4vw;
  border-radius: 0.3vw;
}

.JSW_hoogiflex {
  display: flex;
  align-items: center;
  font-size: 1.5vw;
  justify-content: space-between;
}

.JSW_writer_hoogi {
  font-family: "JalnanGothic";
}

.JSW_date_hoogi {
  font-size: 1vw;
  color: rgba(0, 0, 0, 0.497);
}

.JSW_comment_hoogi {
  font-size: 1.5vw;
  padding-top: 0.5vw;
  max-height: 10vw;
  overflow-y: auto;
}

.JSW_noproductbox {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.JSW_noproductbox div {
  font-size: 1.5vw;
  padding: 1vw 0 1vw 0;
}

.JSW_noproductbox a {
  font-size: 1.5vw;
  background-color: #2748b0;
  color: white;
  padding: 0.7vw;
  border-radius: 0.5vw;
}

.JSW_noproductbox img {
  width: 10vw;
  height: 9vw;
}

.JSW_picklistname {
  font-size: 1.8vw;
  padding: 1vw 0;
  font-family: "JalnanGothic";
}

.JSW_conentheightBox {
  max-height: 30vw;
  overflow-y: auto;
}

.JSW_conentGridBox {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1vw;
  padding: 0.2vw;
}

.JSW_liststart {
  width: 100%;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 0.15vw solid #cccccc87;
}

.JSW_liststart:hover {
  border: 0.15vw solid #2748b0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.193);
}

.JSW_contentGridBox_img {
  width: 100%;
  height: 10vw;
  object-fit: cover;
  overflow: hidden;
}

.JSW_AnameBox div:first-child{
  padding-bottom: 0.2vw;
}
.JSW_Aname {
  font-family: 'SejonghospitalBold';
  font-weight: 700;
  text-align: center;
  white-space: nowrap; /* 줄 바꿈 금지 */
  overflow: hidden; /* 내용이 넘칠 때 숨김 처리 */
  text-overflow: ellipsis; /* 넘친 내용에 대해 ...으로 표시 */
}

.JSW_listhoogi {
  border-top: 1px solid #000;
  text-align: center;
}

.JSW_listhoogi:hover {
  background-color: #03c75a;
  color: white;
}

.JSW_contentGridBox_img > img {
  width: 100%;
  height: 100%;
  z-index: 2;
}

.JSW_list_edit_delete {
  border-top: 1px solid #000;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.JSW_sell {
  font-family: 'SejonghospitalBold';
  font-size: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s, color 0.2s;
}

.JSW_listedit {
  border-right: 1px solid #000;
  border-left: 1px solid #000;
  padding: 0.5vw 1vw;
  font-size: 1vw;
  font-family: 'SejonghospitalBold';
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s, color 0.2s;
}

.JSW_listedit a{
  font-family: 'SejonghospitalBold';
}

.JSW_listdelete {
  font-family: 'SejonghospitalBold';
  padding: 0.5vw 1vw;
  font-size: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s, color 0.2s;
}

.JSW_sell:hover {
  background-color: #2748b0;
  color: white;
}

.JSW_listedit:hover a {
  color: white;
}

.JSW_listedit:hover {
  background-color: #2748b0;
}

.JSW_listdelete:hover {
  background-color: #2748b0;
  color: white;
}

.JSW_AnameBox {
  padding: 0.5vw;
  font-size: 1vw;
}

.JSW_nohoogibox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.JSW_nohoogibox div {
  font-size: 1.5vw;
  padding: 1vw;
}

.JSW_nohoogibox img {
  width: 10vw;
  height: 9vw;
}

.JSW_noheartbox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.JSW_noheartbox div {
  font-size: 1.5vw;
  padding: 1vw;
}

.JSW_list_edit_delete2 {
  border-top: 1px solid #000;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.JSW_noheartbox img {
  width: 10vw;
  height: 9vw;
}

@media (max-width: 1200px) {
  .JSW_nav1 {
    top: 7vw;
  }
}

@media (max-width: 500px) {
  .JSW_mypage_title {
    display: none;
  }

  .JSW_menubar {
    border-right: 0vw solid #000;
  }

  .JSW_Main {
    display: flex;
    flex-direction: column-reverse;
    grid-template-columns: none;
    margin-bottom: 3vw;
    border-bottom: 0 solid black;
    border-left: 0 solid black;
    border-right: 0 solid black;
    width: 100%;
  }

  .JSW_nav1 > ul > li {
    font-size: 4vw;
    border-top: 0.15vw solid black;
    padding: 0;
    background-color: white;
    height: 14vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .JSW_nav1 > ul > li:nth-child(2) {
    border-left: 0.15vw solid black;
    border-right: 0.15vw solid black;
  }

  .JSW_nav1 > ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
  }

  .CHM_uibt{
    display: grid;
    grid-template-columns: 1fr 1fr !important;
    padding: 0;
  }

  .JSW_Sec1 {
    position: fixed;
    bottom: -5px;
    width: 100%;
    border-bottom: 0.15vw solid black;
  }

  .JSW_Sec2-2 {
    margin-top: 0vw;
    padding-bottom: 1vw;
    padding: 0 2vw 2vw 2vw;
    margin-bottom: 14vw;
  }

  .JSW_Sec2 {
    margin: 0vw;
  }

  .CHM_myinfocontain {
    display: flex;
    flex-direction: column;
    margin-top: 1vw;
    padding: 2vw;
  }

  .CHM_myinfobox1 {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    column-gap: 4vw;
  }

  .CHM_myinfoimgbox {
    width: 100%;
    height: 32vw;
  }

  .CHM_useringoflex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .JSW_myname {
    font-size: 5vw;
  }

  .JSW_Cristal {
    display: block;
    padding: 0.8vw;
    background-color: #2748b0;
    color: white;
    border-radius: 0.5vw;
    font-size: 2.5vw;
    cursor: pointer;
    text-align: center;
  }

  .JSW_Cristal2 {
    display: block;
    text-align: center;
    padding: 0.8vw;
    background-color: #2748b0;
    color: white;
    border-radius: 0.5vw;
    font-size: 2.5vw;
    cursor: pointer;
  }

  .JSW_userlist {
    font-size: 2.5vw;
  }

  .JSW_useraboutbox {
    grid-template-columns: 1fr 9fr;
    padding: 2.5vw 0;
    font-size: 2.5vw;
  }

  .JSW_userabout {
    height: 25vw;
    padding: 0 1vw; /* 스크롤이 필요할 때만 표시되도록 auto로 변경 */
    border-radius: 0.3vw;
  }

  .JSW_picklistname {
    font-size: 4vw;
    padding: 2vw 0;
    font-family: "JalnanGothic";
  }

  .JSW_conentGridBox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2vw;
    padding: 0.2vw;
  }

  .JSW_conentheightBox {
    max-height: none;
  }

  .JSW_contentGridBox_img {
    width: 100%;
    height: 25vw;
    object-fit: cover;
    overflow: hidden;
  }

  .JSW_AnameBox {
    padding: 0.5vw;
    font-size: 2.7vw;
  }

  .JSW_sell {
    padding: 0.5vw 1vw;
    font-size: 2.5vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .JSW_listdelete {
    padding: 0.5vw 1vw;
    font-size: 2.5vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .JSW_list_edit_delete {
    border-top: 1px solid #000;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    height: 6vw;
  }

  .JSW_listedit {
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    padding: 0.5vw 1vw;
    font-size: 2.5vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .JSW_list_edit_delete2 {
    border-top: 1px solid #000;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: 6vw;
  }

  .JSW_liststart {
    width: 100%;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 0.5vw solid #cccccc87;
  }

  .JSW_liststart:hover {
    border: 0.5vw solid #2748b0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.193);
  }

  .CHM_hoogiBox {
    padding: 2vw;
    margin-bottom: 2vw;
    border: 0.1vw solid rgba(0, 0, 0, 0.258);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 1fr 6fr;
  }

  .JSW_profile_hoogi img {
    width: 100%;
    height: 10vw;
    border-radius: 0.3vw;
  }

  .JSW_hoogiflex {
    display: flex;
    align-items: center;
    font-size: 4vw;
    justify-content: space-between;
  }

  .JSW_date_hoogi {
    font-size: 2.5vw;
    color: rgba(0, 0, 0, 0.497);
  }

  .JSW_comment_hoogi {
    font-size: 3vw;
    padding-top: 2vw;
    max-height: 30vw;
    overflow-y: auto;
  }

  #JSW_modalALL {
    width: 90vw;
    border: 0.5vw solid #2748b0;
    border-radius: 1vw;
    padding: 3vw;
  }

  .JSW_modal_loginCloseBtn {
    font-size: 4vw;
    margin-bottom: 2vw;
  }

  .JSW_modal_loginInputBox {
    grid-template-columns: 1fr 1.5fr;
    column-gap: 2vw;
    margin-bottom: 2vw;
  }

  .JSW_modal_imgpreview {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 25vw;
  }

  .JSW_modal_formtitle {
    font-size: 3vw;
    margin-bottom: 1vw;
  }

  .JSW_modal_loginInputBox_s {
    width: 100%;
    padding: 0.5vw;
    font-size: 3vw;
  }

  .JSW_modal_about textarea {
    height: 20vw;
    resize: none;
  }

  .JSW_mypagewater {
    background-color: #2748b0;
    border-style: none;
    color: white;
    padding: 1vw;
    border-radius: 0.5vw;
    margin-top: 2vw;
    font-size: 3vw;
  }

  .active {
    color: white;
    background-color: #2748b0;
  }

  .JSW_nav1 > ul > li > p {
    cursor: pointer;
    font-size: 100%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .JSW_noproductbox {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2vw;
  }

  
  .JSW_noproductbox div {
    font-size: 3vw;
    padding: 2vw 0 3vw 0;
  }
  
  .JSW_noproductbox a {
    font-size: 3vw;
    background-color: #2748b0;
    color: white;
    padding: 1vw;
    border-radius: 0.5vw;
  }
  
  .JSW_noproductbox img {
    width: 30vw;
    height: 20vw;
  }

  .JSW_noheartbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2vw;
  }
  
  .JSW_noheartbox div {
    font-size: 3vw;
    padding: 3vw;
  }

  .JSW_noheartbox img {
    width: 30vw;
    height: 20vw;
  }

  .JSW_nohoogibox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2vw;
  }
  
  .JSW_nohoogibox div {
    font-size: 3vw;
    padding: 3vw;
  }
  
  .JSW_nohoogibox img {
    width: 30vw;
    height: 20vw;
  }
}
