.JSW_container {
  font-family: "seolleimcool-SemiBold";
}

.mypage_modalBg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.456);
}

.fa-xmark {
  cursor: pointer;
}
.JSW_modal_selectform {
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 0.5vw;
}

.JSW_modal_formtitle {
  font-size: 1.2vw;
  margin-bottom: 0.4vw;
}

.JSW_modal_imgpreview {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 10vw;
}

.JSW_modal_imgpreview img {
  width: 100%;
  border-radius: 0.5vw;
  border: 0.15vw solid rgb(0, 0, 0);
  height: 100%;
}

.JSW_modal_about textarea {
  height: 8vw;
  resize: none;
}

.JSW_modalsetbutnBox {
  display: flex;
  justify-content: end;
}

.active {
  color: #2748b0;
}
.noactive {
  color: black;
}

.JSW_mypage_title {
  padding: 2vw 1.5vw;
  font-size: 3vw;
  font-weight: 900;
  color: white;
  width: 100%;
  height: 8vw;
  background-color: #2748b0;
}

.JSW_Main {
  display: grid;
  grid-template-columns: 1fr 5fr;
  margin-bottom: 3vw;
  border-bottom: 0.15vw solid black;
  border-left: 0.15vw solid black;
  border-right: 0.15vw solid black;
}

.JSW_Main_view {
  max-width: 100%;
  max-height: 100vh;

  display: grid;
  grid-template-columns: 1fr 5fr;

  padding-bottom: 5%;
}

/* .JSW_Sec1 {
  border: 1px solid #000;
} */

.JSW_menubar {
  height: 100%;
  border-right: 0.15vw solid #000;
}

#JSW_Mypage_tag {
  text-align: center;
  font-size: 120%;
  font-weight: 900;
}

.JSW_nav1 {
  position: sticky;
  top: 5vw;
}

.JSW_nav1 > ul {
  padding: 0;
  width: 100%;
  /* left: -20px; */
}

.JSW_nav1 > ul > li {
  padding-top: 20%;
  list-style: none;
  text-align: center;
  font-size: 1vw;
  font-weight: 700;
}

.JSW_nav1 > ul > li > a {
  text-decoration: none;
  font-size: 100%;
}
.JSW_nav1 > ul > li > p {
  cursor: pointer;
  font-size: 100%;
}

.JSW_Sec2 {
  display: flex;
  flex-direction: column;
  margin: 1vw;
}

.JSW_Sec2_view {
  height: auto;
}

.JSW_Sec2-1 {
  width: 100%;
  display: grid;
  grid-template-columns: 1.5fr 3fr;
  padding-bottom: 1%;
  box-shadow: 0 1px 0 0;

  /* border-bottom: 1px solid #000; */
}

.JSW_Sec2-1_left {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.JSW_Sec2-1_left > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.JSW_myname {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2vw;
  font-weight: 600;
  font-family: "JalnanGothic";
}

.JSW_Sec2-1_Right {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1vw;
}

.JSW_userinfo {
  margin-top: 1%;
  box-shadow: 0 0 2px 1px;
  padding: 1%;
  width: 100%;
  height: 13vw;

  overflow-y: scroll;
}

.JSW_mypage_img:hover {
  box-shadow: 0px 0px 2px 1px;
}

.JSW_btnBox {
  display: flex;
  column-gap: 1vw;
}

.JSW_Cristal {
  display: block;
  padding: 0.8vw;
  background-color: #2748b0;
  color: white;
  border-radius: 0.5vw;
  font-size: 1vw;
  cursor: pointer;
  text-align: center;
}

.JSW_Cristal2 {
  display: block;
  text-align: center;
  padding: 0.8vw;
  background-color: #2748b0;
  color: white;
  border-radius: 0.5vw;
  font-size: 1vw;
  cursor: pointer;
}

.JSW_Sec2-2 {
  margin-top: 1vw;
  overflow: auto;
  height: 42vh;
}

.JSW_Sec2-2_Left {
  border: 1px solid #000;
}

.JSW_Sec2-2_Right {
  border: 1px solid #000;
}

.JSW_userlist {
  font-size: 1vw;
  font-weight: 500;
  word-wrap: break-word;
  padding: 0.3vw 0;
}

.JSW_userinfoflex {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 2fr;
  height: 100%;
}

#JSW_modalALL {
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30vw;
  border: 0.4vw solid #2748b0;
  border-radius: 0.5vw;
  padding: 1vw;
  z-index: 7;
}

.JSW_modal_loginInputBox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1vw;
  margin-bottom: 1vw;
}

.JSW_modal_loginInputBox_s {
  width: 100%;
  padding: 0.2vw;
  font-size: 1vw;
}

.JSW_modal_mainTitle {
  font-weight: 900;
}

.JSW_modal_loginCloseBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5vw;
  margin-bottom: 1vw;
}

.JSW_mypagewater {
  background-color: #2748b0;
  border-style: none;
  color: white;
  padding: 0.5vw;
  border-radius: 0.3vw;
  margin-top: 1vw;
  font-size: 1vw;
}

.JSW_imgupload {
  background-color: #ccf4dc;
  padding-top: 1%;
  padding-left: 3%;
  width: 6vw;
  height: 3vh;
}

.JSW_btnBox {
  padding: 0.5vw;
  display: flex;
  justify-content: end;
}

.CHM_myinfocontain {
  display: flex;
  flex-direction: column;
  margin-top: 1vw;
}

.CHM_myinfobox1 {
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 1vw;
}

.CHM_myinfoimgbox {
  width: 100%;
  height: 13vw;
}

.CHM_myinfobox1 img {
  width: 100%;
  height: 100%;
  border-radius: 0.5vw;
  border: 0.15vw solid rgb(0, 0, 0);
}

.JSW_useraboutbox {
  display: grid;
  grid-template-columns: 1fr 12fr;
  padding: 1vw 0;
  font-size: 1vw;
  border-bottom: 0.25vw solid rgb(0, 0, 0);
}

.JSW_userabout {
  border: 0.1vw solid rgba(0, 0, 0, 0.258);
  height: 10vw;
  overflow-y: auto;
  padding: 0 0.3vw; /* 스크롤이 필요할 때만 표시되도록 auto로 변경 */
  border-radius: 0.1vw;
}

.CHM_hoogiBox {
  padding: 1vw;
  margin-bottom: 1vw;
  border: 0.1vw solid rgba(0, 0, 0, 0.258);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 1vw;
  display: grid;
  grid-template-columns: 1fr 9fr;
}

.JSW_profile_hoogi {
  display: flex;
  padding-right: 1vw;
}

.JSW_profile_hoogi img {
  width: 100%;
  height: 4vw;
  border-radius: 0.3vw;
}

.JSW_hoogiflex {
  display: flex;
  align-items: center;
  font-size: 1.5vw;
  justify-content: space-between;
}

.JSW_writer_hoogi {
  font-family: "JalnanGothic";
}

.JSW_date_hoogi {
  font-size: 1vw;
  color: rgba(0, 0, 0, 0.497);
}

.JSW_comment_hoogi {
  font-size: 1.5vw;
  padding-top: 0.5vw;
  max-height: 10vw;
  overflow-y: auto;
}

@media (max-width: 1024px) {
  .JSW_Main {
    max-width: 100%;
    max-height: 100vh;

    display: grid;
    grid-template-columns: 1fr 5fr;
  }

  .JSW_menubar {
    margin: 0 auto;

    width: 90%;
    height: 90%;
    box-shadow: 0px 0px 5px 1px;
    background-color: #ccf4dc;
    border-radius: 25px;

    padding-left: 15px;
  }

  .JSW_nav1 {
    text-align: left;
    position: relative;
  }

  .JSW_nav1 > ul {
    position: absolute;
    left: -35px;
  }

  .JSW_nav1 > ul > li {
    padding-top: 10%;
    list-style: none;
    font-size: 1.5vw;
  }

  .JSW_nav1 > ul > li > a {
    text-decoration: none;
    color: black;
    font-size: 100%;
  }

  .JSW_userlist {
    font-size: 1.2vw;
  }

  /* .JSW_menubar {
    font-size: 2vw; 
  } */

  .JSW_Sec2 {
    height: 70vh;
    border: 1px solid #000;
    overflow: hidden;
  }

  .JSW_Sec2-1 {
    width: 100%;
    height: 30vh;

    display: grid;
    grid-template-columns: 1.5fr 3fr;

    border-bottom: 1px solid #000;
  }

  .JSW_Sec2-1_left {
    width: 100%;
    height: 100%;

    overflow: hidden;
    border-right: 1px solid #000;
  }

  .JSW_Sec2-1_left > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .JSW_Sec2-1_Right {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 1%;

    font-size: 80%;
  }

  .JSW_userinfo {
    position: absolute;
    left: 10px;
    top: 30px;

    border-top: 1px solid #000;
    border-bottom: 1px solid #000;

    width: 30vw;
  }

  .JSW_Cristal {
    padding: 2%;
    background-color: lightgray;
    border-radius: 10px;
    position: absolute;
    right: 5px;
    bottom: 5px;

    cursor: pointer;

    font-size: 70%;
  }

  .JSW_Cristal:hover {
    box-shadow: 0px 0px 2px 1px;
  }

  .JSW_Sec2-2 {
    width: 100%;
    height: 40vh;
    overflow-y: scroll;
  }

  .JSW_Sec2-2_Left {
    border: 1px solid #000;
  }

  .JSW_Sec2-2_Right {
    border: 1px solid #000;
  }

  /* 수정창 */

  #JSW_modalALL {
    background-color: #03c75a;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 35vw;
    height: 35vh;

    border: 1px solid #000;
    border-radius: 15px;

    z-index: 7;
  }

  .JSW_modal_loginInputBox {
    padding-top: 3%;
    margin: 0 auto;

    display: grid;
    grid-template-rows: 1fr;

    width: 80%;
  }

  .JSW_modal_loginInputBox_s {
    /* background-color: #CCF4DC; */
    border-radius: 5px;
    height: 5vh;
  }

  .JSW_modal_mainTitle {
    padding-left: 10%;
    font-size: 2vw;
    font-weight: 900;
    color: white;
  }

  .JSW_modal_loginCloseBtn {
    padding-left: 5%;
    padding-top: 5%;
  }

  .JSW_mypagewater {
    width: 8vw;
    height: 4vh;

    background-color: #ccf4dc;
    border-color: #ccf4dc;

    position: fixed;
    right: 3.5vw;
    bottom: 1vh;
  }

  .JSW_imgupload {
    padding-top: 3%;
    padding-left: 5%;
    width: 12vw;
  }
}

@media (max-width: 500px) {
  .JSW_menubar {
    font-size: 70%;
    padding-left: 17%;
    border-radius: 5px;

    width: 100%;
  }

  .JSW_Sec2-1_Right {
    font-size: 70%;
  }

  .JSW_userinfo {
    position: absolute;

    margin-top: 3%;
    box-shadow: 0 0 2px 1px;
    padding: 1%;
    width: 45vw;
  }

  .JSW_myname {
    font-size: 3vw;
  }

  .JSW_userlist {
    padding-top: 2%;
    font-size: 2.5vw;
    font-weight: 500;
  }

  .JSW_nav1 {
    padding-right: 0%;
    text-align: center;
  }

  .JSW_nav1 > ul {
    padding-left: 0%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }

  .JSW_nav1 > ul > li {
    padding-left: 5px;
    padding-top: 45%;

    font-size: 2.5vw;
  }

  .JSW_nav1 > ul > li > a {
    text-decoration: none;
    color: black;
  }

  .JSW_Main {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 10fr;
  }

  /* 수정창 */

  #JSW_modalALL {
    background-color: #03c75a;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 45vw;
    height: 36vh;

    border: 1px solid #000;
    border-radius: 15px;

    z-index: 7;
  }

  .JSW_modal_loginInputBox {
    padding-top: 3%;
    margin: 0 auto;

    display: grid;
    grid-template-rows: 1fr;

    width: 80%;
  }

  .JSW_modal_loginInputBox_s {
    /* background-color: #CCF4DC; */
    border-radius: 5px;
    height: 5vh;
  }

  .JSW_imgupload {
    padding-top: 5%;
    padding-left: 5%;
    width: 25vw;
  }

  .JSW_modal_mainTitle {
    padding-left: 10%;
    font-size: 4vw;
    font-weight: 900;
    color: white;
  }

  .JSW_modal_loginCloseBtn {
    padding-left: 5%;
    padding-top: 5%;
  }

  .JSW_mypagewater {
    width: 15vw;
    height: 4vh;

    background-color: #ccf4dc;
    border-color: #ccf4dc;

    position: fixed;
    right: 5vw;
    bottom: 1vh;
  }
}
