/* 
.img {
  width: 100%;
  height: 100%;
} */

a {
  text-decoration: none;
}

li {
  list-style: none;
}



.JSW_Main {
  max-width: 100%;
  max-height: 100vh;

  display: grid;
  grid-template-columns: 1fr 5fr;
  

  border: 1px solid #000;
}

.JSW_Sec1 {
  border: 1px solid #000;
}

.JSW_menubar {
  margin: 5% auto;

  width: 90%;
  height: 90%;
  border: 1px solid #000;


  
}

.JSW_nav1 {
  text-align: left;
  position: relative;
}

.JSW_nav1 > ul {
  position: absolute;
  left: -20px;
}

.JSW_nav1 > ul > li {
  padding-top: 5px;
}

.JSW_Sec2 {
  height: 70vh;
  border: 1px solid #000;
}

.JSW_Sec2-1 {
  width: 100%;
  height: 30vh;

  display: grid;
  grid-template-columns: 1.5fr 3fr;

  border: 1px solid #000;
}

.JSW_Sec2-1_left {
  width: 100%;
  height: 100%;
  
  background-repeat: no-repeat;
  background-image: url(image/이크.png);
  background-size: contain;
  border: 1px solid #000;
}
.JSW_Sec2-1_Right {
  width: 100%;
  height: 100%;
  border: 1px solid #000;
  position: relative;
}

.JSW_userinfo {
  position: absolute;
  left: 10px;
  top: 10px;

  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.JSW_Cristal {  
  padding: 2%;
  background-color: aqua;
  border-radius: 10px;
  position: absolute;
  right: 5px;
  bottom: 5px;

  cursor: pointer;
  
}
  

.JSW_Sec2-2 {
  width: 100%;
  height: 40vh;
  border: 1px solid #000;
  overflow-y: scroll;


}

.JSW_Sec2-2_Left {
  border: 1px solid #000;
}

.JSW_Sec2-2_Right {
  border: 1px solid #000;
}

