.JSW_picklist {
  position: relative;
  
  margin: 0 auto;
  padding: 1vw;


}

.JSW_picklistname {
  font-size: 1vw;
  font-weight: 600;
}

.JSW_conentGridBox {
  width: 100%;
  height: 100%;
  
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  
  gap: 1vw;
  padding: 1vw 0 0;
  
}

.JSW_liststart {
  width: 10vw;
  

  border: 1px solid #CCC;
  border-radius: 15px;
  position: relative;
  cursor: pointer;


  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  z-index: 3;
  
}

.JSW_liststart:hover {
  box-shadow: 0px 0px 5px 1px ;
  top: 5%;
}

.JSW_contentGridBox_img {
  width: 100%;
  height: 10vw;
  object-fit: cover;
  overflow: hidden;
  
}

.JSW_Aname {
  font-weight: 700;
  text-align: center;
  
  /* border-top: 1px solid #000; */
}

/* .JSW_Kname {
  color: white;
} */

.JSW_contentGridBox_img > img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 100%;

  z-index: 2;
}

@media (max-width: 1024px) {
  .JSW_Aname {
    font-size: 90%;
  }

  .JSW_conentGridBox {
    grid-template-columns: repeat(3, 2fr);
    
    
  }


  .JSW_liststart {
    width: 15vw;
  }
  
  .JSW_contentGridBox_img {
    height: 12vw;

  }

  .JSW_picklistname {
    font-size: 2vw;
  }

}


@media (max-width: 500px) {
  .JSW_liststart {
    width: 80%;
    height: 100%;
  }

  .JSW_Aname {
    font-size: 80%;
  }

  .JSW_conentGridBox {
    gap: 5vw;
    grid-template-columns: 1fr;
    z-index: 5;
    
  }

  .JSW_picklistname {
    padding-left: 10%;
    font-size: 4vw;
  }
  
  .JSW_contentGridBox_img {
    /* z-index: 2; */
    height: 55vw;
  }
  
  .JSW_liststart{
    height: 70vw;
    z-index: 2;
    margin-left: 10%;
  }
  

}