.KJH_if_section {
    display: flex;
    width: 65.25vw;
}

.KJH_if_left_section {
    flex: 1 1 0%;
}

.KJH_if_right_section {
    width: 330px;
}

.KJH_if_right_info {
    height: 100%;
    position: relative;
}

.KJH_if_left_info {
    padding-right: 30px;
    border-right: 0.1em solid rgb(238, 238, 238);
    height: 100%;
}

.KJH_if_left_bottom {
    margin-top: 50px;
    width: 100%;
}

.KJH_if_left_top_title {
    font-size: 1.2vw;
    font-weight: 700;
    padding: 3vh 0px 2vh;
    border-bottom: 0.1em solid rgb(238, 238, 238);
}

.KJH_if_left_content_top {
    white-space: pre-wrap;
    overflow-wrap: break-word;
    margin: 3em 0;
    line-height: 1.5;
}

.KJH_if_left_content_bottom {
    padding: 1.5em;
    border-top: 0.1em solid rgb(238, 238, 238);
    border-bottom: 0.1em solid rgb(238, 238, 238);
    display: flex;
    align-items: center;
}

.KJH_if_left_content_div {
    width: 15em;
    border-right: 0.1em solid rgb(238, 238, 238);
}

.KJH_if_left_content_div:last-child {
    border-right: 0;
}

.KJH_if_left_content_div_top {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    font-size: 13px;
    color: rgb(178, 178, 178);
}

.KJH_if_left_content_div_top > img {
    margin-right: 5px;
}

.KJH_if_left_content_div_center_category {
    font-size: 13px;
    color: rgb(102, 102, 102);
    padding: 0px 15px;
    display: flex;
    justify-content: center;
    line-height: 1.5;
    min-height: 19px;
}

.KJH_if_left_content_div_center {
    font-size: 13px;
    color: rgb(102, 102, 102);
    padding: 0px 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 1.5;
    min-height: 19px;
}

.KJH_if_left_content_div_center > div > a {
    display: flex;
    color: rgb(33, 33, 33);
    text-decoration: none;
    cursor: pointer;
}

.KJH_if_left_content_div_center > div {
    display: flex;
    align-items: center;
    color: rgb(102, 102, 102);
}

.KJH_if_left_content_div_link_span {
    display: flex;
    margin-right: 5px;
    font-size: 12px;
}

.KJH_if_left_content_div_bottom_tag_section {
    font-size: 13px;
    color: rgb(102, 102, 102);
    padding: 0px 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 1.5;
    min-height: 19px;
}

.KJH_if_left_content_div_bottom_tag_section > a {
    margin-right: 5px;
    color: rgb(102, 102, 102);
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
}

.KJH_if_left_bottom_title_section {
    width: 100%;
    font-size: 18px;
    color: rgb(51, 51, 51);
    margin-bottom: 20px;
}

.KJH_if_left_bottom_content_section {
    display: flex;
    column-gap: 16px;
    width: 100%;
    padding: 24px 0;
    border: 0.1em solid rgb(238, 238, 238);
    margin-bottom: 16px;
    list-style: none;
}

.KJH_if_left_bottom_content_section > li {
    width: 50%;
    list-style: none;
}

.KJH_if_left_bottom_content_link_section {
    display: flex;
    color: rgb(33, 33, 33);
    text-decoration: none;
    cursor: pointer;
}

.KJH_if_left_bottom_content_link_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(100% - 110px);
    padding-left: 12px;
    box-sizing: border-box;
}

.KJH_if_left_bottom_content_link_price {
    color: rgb(33, 33, 33);
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 6px;
}

.KJH_if_left_bottom_content_link_title {
    font-size: 14px;
    line-height: 18px;
    max-height: 36px;
    color: rgb(113, 112, 126);
    margin-bottom: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    display: -webkit-box;
}

.KJH_if_left_bottom_content_link_ad {
    font-size: 12px;
    color: rgb(178, 178, 178);
}

/*** 오른쪽 ***/

.KJH_if_right_section {
    width: 330px;
}

.KJH_if_right_top_section {
    width: 100%;
    height: 100%;
    border-right: 0.1em solid rgb(238, 238, 238);
    padding: 0px 32px 118px;
    position: relative;
}

.KJH_if_right_top_title {
    font-size: 18px;
    font-weight: 700;
    padding: 48px 0px 16px;
    border-bottom: 0.1em solid rgb(238, 238, 238);
}
.KJH_if_right_top_content_top {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 16px;
    border: 0.1em solid black;
    border-radius: 5px;
}

.KJH_if_right_top_seller {
    padding: 0 0.5vw;
    font-weight: 700;
}

.KJH_if_right_top_prod_count {
    padding: 0 1vw;
    color: red;
    font-weight: 700;
}

.KJH_if_right_shop_icon {
    padding: 0.5vw;
}

.KJH_if_right_shop_icon > svg {
    position: relative;
    top: 0.1vw;
    width: 1.5em;
    height: 1.5em;
}

.KJH_if_right_shop-link {
    display: flex;
    align-items: center;
}

.KJH_if_right_top_content_user_name {
    display: flex;
    align-items: center;
}

.KJH_if_right_top_content_user_name > a {
    color: rgb(33, 33, 33);
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
}

.KJH_if_right_top_content_user_info {
    display: flex;
}

.KJH_if_right_top_content_user_info > a {
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
}



.KJH_if_right_top_content_user_follow_link {
    font-size: 13px;
    color: rgb(153, 153, 153);
}

.KJH_if_right_top_content_user_review {
    padding: 15px 0px 16px;
    border-top: 0.1em solid rgb(238, 238, 238);
    border-bottom: 0.1em solid rgb(238, 238, 238);
    font-weight: 700;
}

.KJH_if_right_top_content_user_review > span {
    color: red;
}

.KJH_if_right_top_content_user_review_list_section {
    display: flex;
    justify-content: space-between;
    min-height: 200px;
    max-height: 200px;
    /* border: 1px solid blueviolet; */
}

.KJH_if_right_top_content_user_no_review {
    color: rgb(102, 102, 102);
    font-size: 13px;
    line-height: 1.3;
    width: 100%;
}

.KJH_if_right_review_info {
    padding: 10px;
    margin-bottom: 10px;
    border: 0.1em solid black;
    border-radius: 8px;
}

.KJH_if_right_review_title {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    border-bottom: 0.1em solid #e6e6e6;
    margin-bottom: 5px;
}

.KJH_if_right_review_date {
    position: relative;
    bottom: 5px;
    padding: 0 5px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    background-color: #ff6e6e;
    color: white;
}

.KJH_if_right_review_writer {
    font-weight: 700;
    margin-bottom: 10px;
}

.KJH_if_right_review_comment {
    padding: 5px 0;
}

.KJH_if_right_review_more {
    margin-top: 1.5vw;
    border-top: 0.1em solid #e6e6e6;
    border-bottom: 0.1em solid #e6e6e6;
    padding: 10px 0;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    transition: all 0.3s;
}

.KJH_if_right_review_more:hover {
    cursor: pointer;
    background-color: rgb(253, 255, 185);
}

.KJH_if_right_bottom_section {
    position: absolute;
    bottom: 0px;
    left: 0px;
    display: flex;
    width: 100%;
    padding: 16px;
}

.KJH_if_right_bottom_section > button {
    border-radius: 10px;
}

.KJH_if_right_bottom_talk {
    display: flex;
    background: rgb(255, 164, 37);
    border: 0.1em solid rgb(243, 150, 20);
    color: rgb(255, 255, 255);
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    cursor: pointer;
    outline: none;
    height: 56px;
    margin-right: 20px;
}

.KJH_if_right_bottom_talk > img {
    margin-right: 5px;
    vertical-align: bottom;
    border-style: none;
}

.KJH_if_right_bottom_buy {
    background-color: rgb(198, 0, 0);
    border-color: rgb(188, 0, 0);
    color: rgb(255, 255, 255);
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    cursor: pointer;
    outline: none;
    height: 56px
}

.KJH_if_section_bottom {
    display: flex;
    justify-content: center;
    background: rgb(249, 249, 249);
    padding: 40px 0px 80px;
}

.KJH_if_bottom_line {
    width: 1024px;
}