.KJH_if_section {
    display: flex;
}

.KJH_if_left_section {
    flex: 1 1 0%;
}

.KJH_if_right_section {
    width: 330px;
}

.KJH_if_right_info {
    height: 100%;
    position: relative;
}

.KJH_if_left_info {
    padding-right: 30px;
    border-right: 1px solid rgb(238, 238, 238);
    height: 100%;
}

.KJH_if_left_bottom {
    margin-top: 50px;
    width: 100%;
}

.KJH_if_left_top_title {
    font-size: 22px;
    font-weight: 700;
    padding: 48px 0px 16px;
    border-bottom: 1px solid rgb(238, 238, 238);
}

.KJH_if_left_content_top {
    white-space: pre-wrap;
    overflow-wrap: break-word;
    margin: 40px 0px;
    line-height: 1.5;
}

.KJH_if_left_content_bottom {
    padding: 20px 0px;
    border-top: 1px solid rgb(238, 238, 238);
    border-bottom: 1px solid rgb(238, 238, 238);
    display: flex;
}

.KJH_if_left_content_div {
    width: 221px;
    border-right: 1px solid rgb(238, 238, 238);
}

.KJH_if_left_content_div:last-child {
    border-right: 0px;
}

.KJH_if_left_content_div_top {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    font-size: 13px;
    color: rgb(178, 178, 178);
}

.KJH_if_left_content_div_top > img {
    margin-right: 5px;
}

.KJH_if_left_content_div_center {
    font-size: 13px;
    color: rgb(102, 102, 102);
    padding: 0px 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 1.5;
    min-height: 19px;
}

.KJH_if_left_content_div_center > a {
    display: flex;
    color: rgb(33, 33, 33);
    text-decoration: none;
    cursor: pointer;
}

.KJH_if_left_content_div_center > a > span {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(102, 102, 102);
}

.KJH_if_left_content_div_link_span {
    margin-right: 5px;
}

.KJH_if_left_content_div_bottom_tag_section {
    font-size: 13px;
    color: rgb(102, 102, 102);
    padding: 0px 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 1.5;
    min-height: 19px;
}

.KJH_if_left_content_div_bottom_tag_section > a {
    margin-right: 5px;
    color: rgb(102, 102, 102);
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
}

.KJH_if_left_bottom_title_section {
    width: 100%;
    font-size: 18px;
    color: rgb(51, 51, 51);
    margin-bottom: 20px;
}

.KJH_if_left_bottom_content_section {
    display: flex;
    column-gap: 16px;
    width: 100%;
    padding: 24px 0;
    border: 1px solid rgb(238, 238, 238);
    margin-bottom: 16px;
    list-style: none;
}

.KJH_if_left_bottom_content_section > li {
    width: 50%;
    list-style: none;
}

.KJH_if_left_bottom_content_link_section {
    display: flex;
    color: rgb(33, 33, 33);
    text-decoration: none;
    cursor: pointer;
}

.KJH_if_left_bottom_content_link_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(100% - 110px);
    padding-left: 12px;
    box-sizing: border-box;
}

.KJH_if_left_bottom_content_link_price {
    color: rgb(33, 33, 33);
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 6px;
}

.KJH_if_left_bottom_content_link_title {
    font-size: 14px;
    line-height: 18px;
    max-height: 36px;
    color: rgb(113, 112, 126);
    margin-bottom: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    display: -webkit-box;
}

.KJH_if_left_bottom_content_link_ad {
    font-size: 12px;
    color: rgb(178, 178, 178);
}

/*** 오른쪽 ***/

.KJH_if_right_section {
    width: 330px;
}

.KJH_if_right_top_section {
    width: 100%;
    height: 100%;
    border-right: 1px solid rgb(238, 238, 238);
    padding: 0px 32px 118px;
    position: relative;
}

.KJH_if_right_top_title {
    font-size: 18px;
    padding: 48px 0px 16px;
    border-bottom: 1px solid rgb(238, 238, 238);
}
.KJH_if_right_top_content_top {
    display: flex;
    margin-top: 20px;
    margin-bottom: 16px;
}

.KJH_if_right_top_content_top > a {
    margin-right: 16px
}

.KJH_if_right_top_content_top > a > img {
    border-radius: 50%;
    vertical-align: bottom;
    border-style: none;
}

.KJH_if_right_top_content_user_name {
    display: block;
    margin: 4px 0px 11px;
}

.KJH_if_right_top_content_user_name > a {
    color: rgb(33, 33, 33);
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
}

.KJH_if_right_top_content_user_info {
    display: flex;
}

.KJH_if_right_top_content_user_info > a {
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
}

.KJH_if_right_top_content_user_product_link {
    position: relative;
    font-size: 13px;
    color: rgb(153, 153, 153);
}

.KJH_if_right_top_content_user_follow_link {
    font-size: 13px;
    color: rgb(153, 153, 153);
}

.KJH_if_right_top_content_user_follow_btn {
    width: 100%;
    height: 32px;
    border: 1px solid rgb(238, 238, 238);
    color: rgb(136, 136, 136);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    border-radius: 2px;
    cursor: pointer;
}

.KJH_if_right_top_content_user_follow_btn:hover {
    background-color: rgb(255, 255, 211);
}

.KJH_if_right_top_content_user_follow_btn > img {
    margin-right: 3px;
    vertical-align: bottom;
    border-style: none;
}

.KJH_if_right_top_content_user_review {
    padding: 30px 0px 16px;
    border-bottom: 1px solid rgb(238, 238, 238);
}

.KJH_if_right_top_content_user_review_list_section {
    display: flex;
    padding-top: 15px;
    justify-content: space-between;
}

.KJH_if_right_top_content_user_no_review {
    color: rgb(102, 102, 102);
    font-size: 13px;
    line-height: 1.3;
}

.KJH_if_right_top_content_user_write_link {
    height: 32px;
    width: 80px;
    background: rgb(178, 178, 178);
    color: rgb(255, 255, 255);
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    text-decoration: none;
    cursor: pointer;
}

.KJH_if_right_bottom_section {
    position: absolute;
    bottom: 0px;
    left: 0px;
    display: flex;
    width: 100%;
    padding: 16px;
}

.KJH_if_right_bottom_talk {
    display: flex;
    background: rgb(255, 164, 37);
    border: 1px solid rgb(243, 150, 20);
    color: rgb(255, 255, 255);
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    cursor: pointer;
    outline: none;
    height: 56px;
    margin-right: 20px;
}

.KJH_if_right_bottom_talk > img {
    margin-right: 5px;
    vertical-align: bottom;
    border-style: none;
}

.KJH_if_right_bottom_buy {
    background-color: rgb(198, 0, 0);
    border-color: rgb(188, 0, 0);
    color: rgb(255, 255, 255);
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    cursor: pointer;
    outline: none;
    height: 56px
}

.KJH_if_section_bottom {
    display: flex;
    justify-content: center;
    background: rgb(249, 249, 249);
    padding: 40px 0px 80px;
}

.KJH_if_bottom_line {
    width: 1024px;
}