.searchpage_header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:2vw;
  background-color: rgb(245, 245, 245);
  font-size: 2vw;
  font-family: 'seolleimcool-SemiBold';
  margin-bottom: 1vw;
}

.searchpage_statussel{
  display: flex;
  align-items: center;
  font-size: 1vw;
}

.searchpage_statussel div{
  cursor: pointer;
}

@media (max-width: 500px) {
  .searchpage_header{
    padding: 7vw 5vw;
    background-color: rgb(245, 245, 245);
    font-size: 4.5vw;
    font-family: 'SejonghospitalBold';
    margin-bottom: 1vw;
  }

  .searchpage_statussel{
    font-size: 2.5vw;
  }

  .searchpage_statussel div{
    cursor: pointer;
    padding:  0 0.5vw;
  }
}
