.footer_container{
  margin: 0 auto;
}

.ymj_footer_link_all{
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

.ymj_footer_link_all{
  flex-direction: row;
  display: flex;
  font-size: 25px;
  justify-content: center;
  align-items: center;
}

.ymj_footer_link {
  display: flex;
  width: 200px;
  
}

.ymj_footer_link :hover{
  background-color: rgb(17, 180, 131)
}

.ymj_footer_all{
  display: flex;
  margin: 0 auto;
  margin-top: 20px;
  justify-content: center;
  color: gray;
}

.ymj_footer_all > p {
 font-size: 12px;
}



.ymj_footer_right {
  margin-left: 170px;
}

.ymj_footer_left > p{
  font-size: 15pt;
}
.ymj_footer_right > div {
  margin-top: 50px;
}

.ymj_footer_right > div > p{
  font-size: 15pt;
  }

.ymj_footer_right{
  font-size: 30px;
}

