.room_list_Main{
  border: 1px solid #000; 
  max-height: 35vw;
  min-height: 35vw;
  overflow-y: auto;
}

.room_nolist_Main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 34vw;
  font-size: 2vw;
  row-gap: 0.5vw;
}

.room_nolist_Main img{
  width: 10vw;
}

.room_list{
  padding: 2vw;
  transition: 0.3s;
  cursor: pointer;
}

.room_list:hover{
  background-color: rgba(128, 128, 128, 0.136);
}