/*** 이미지 관련 ***/

.sliderContainer {
    position: relative;
    margin: 2vh 0;
    min-width: 25vw;
    width: 25vw;
    border: 0.1em solid black;
    border-radius: 5px;
    padding: 20px; 
}

.slick-slider {
    margin: 0 2vw;
}

.slick-list {
    height: 36vh;
}

.slick-dots {
    border-top: 0.1em solid black;
}

.slick-slider > button {
    background-color: rgb(193, 193, 193);
    border-radius: 0.3vw;
    width: 2vw;
    height: 5vh;
    z-index: 5;
    border: none;
    box-shadow: none;
    opacity: 1;
}

.slick-slider > button:hover {
    background-color: gray;
    opacity: 0.7;
}

.slick-slider > button:focus {
    outline: none;
}

.sliderImg {
    height: 36vh;
}

.sliderImg > img {
    width: 100%;
    height: 100%;
    padding-bottom: 2vh;
    cursor: pointer;
}

@media (max-width: 1024px) {
    .sliderContainer {
        margin: 0;
        position: relative;
        width: 100%;
        border: 0.1em solid black;
        border-radius: 5px;
        padding: 20px;  
    }
    
    .slick-slider {
        margin: 0 2vw;
    }

    .slick-slider > button {
        width: 10%;
        margin: 0 0.2vw;
        border-radius: 0.6vw;
        border: 0.2vw solid black;
    }
    
    .slick-dots {
        border-top: 0.1em solid black;
        position: static;
    }
    
    .slick-dots > li > button {
        width: 1vw;
        height: 1vh;
    }

    .sliderImg > img {
        width: 100%;
        height: 35vh;
        padding-bottom: 2vh;
        cursor: pointer;
    }

    @media (max-width: 500px) {
        .sliderContainer {
            margin: 2vh 0;
            position: relative;
            width: 100%;
            border: 0.1em solid black;
            border-radius: 5px;
            padding: 7vw 2vh;  
        }
        
        .slick-slider {
            margin: 0 2vw;
            padding-bottom: 2vh;
        }
        
        .slick-slider > button {
            width: 10%;
            margin: 0 1vw;
            border-radius: 0.6vw;
            border: 0.3vw solid black;
        }

        .slick-dots {
            border-top: 0.1em solid black;
        }
        
        .slick-dots > li > button {
            width: 1vw;
            height: 1vh;
        }
    
        .sliderImg > img {
            width: 100%;
            height: 100%;
            padding-bottom: 0;
            cursor: pointer;
        }
    }
    

}