.main_header {
  margin-top: 1vw;
  display: flex;
  text-align: center;
  flex-direction: column;
  position: sticky;
  top: 0;
  z-index: 3;
  border-bottom: 0.1vw rgba(0, 0, 0, 0.204) solid;
  background-color: white;
  margin-bottom: 1vw;
  width: 100%;
}

.main_title {
  display: flex;
  align-items: center;
  font-family: "seolleimcool-SemiBold";
}

.header_contents {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* column-gap: 1vw; */
}

.main_logoIcon {
  width: 4vw;
  /* color: white; */
  /* background-color: blue; */
  /* border: 1px solid #000; */
  border-radius: 20%;
  margin-right: 0.5vw;
}

.main_titleName {
  font-size: 1.7vw;
  padding-right: 1vw;
  width: 8vw;
  font-family: "SejonghospitalBold";
  /* border: 1px solid #000; */
}

.header_position {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main_searchBar {
  border: 0.2vw #2748b0 solid;
  width: 25vw;
  height: 2.5vw;
  display: flex;
  align-items: center;
  padding: 0.5vw;
}

.searchBar_input {
  font-size: 1vw;
  width: 40vw;
  border: none;
  outline: none;
}

.main_searchIcon {
  color: #2748b0;
  width: 2vw;
  margin-left: 10px;
}
.main_searchIcon:hover {
  cursor: pointer;
}

.header_login2 li {
  display: flex;
  align-items: center;
  padding: 4em;
  white-space: nowrap;
}

.main_login {
  width: 30%;
  display: flex;
  align-items: center;
}

.main_login ul {
  list-style-type: none;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.main_login ul li {
  padding: 5px;
}

.main_login ul li a {
  text-decoration: none;
  display: flex;
  align-items: center;
  column-gap: 0.2vw;
  font-size: 1.2vw;
}

.main_logout {
  color: #b0272c;
}

.main_logo {
  min-width: 30px;
  min-height: 30px;
  width: 50px;
  height: 50px;
}
.header_login_nav {
  margin-right: 2vw;
}

.header_login_nav > a {
  padding-left: 0.8vw;
}

.header_login li {
  display: flex;
  align-items: center;
  padding: 4em;
  white-space: nowrap;
}

.main_mainIcon,
.main_singUpIcon {
  font-weight: bolder;
  font-size: 1.5em;
}

.header_list ol {
  list-style-type: none;
  display: inline-flex;
}

.header_list ol li {
  padding: 5px;
}
@media (max-width: 1200px) {
  .main_logoIcon {
    width: 5vw;
    margin-right: 1vw;
  }
  .main_titleName {
    display: none;
  }
}
@media (max-width: 1024px) {
  .header_login {
    padding: 0;
  }
  .header_login > li {
    width: 100%;
  }

  .header_login_nav > span {
    font-size: 1.5vw;
  }

  .header_login > li > a {
    font-size: 1.3vw;
  }
  .main_mainIcon,
  .main_singUpIcon {
    font-size: 2.5vw;
  }

  .main_searchBar {
    border: 0.3vw #2748b0 solid;
    width: 30vw;
    height: 4vw;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .searchBar_input {
    font-size: 1.5vw;
    width: 30vw;
  }
}

@media (max-width: 500px) {
  .main_header {
    position:relative;
  }

  .main_logoIcon {
    width: 13vw;
  }

  .header_contents {
    padding: 1vw
  }

  .main_loginIcon {
    font-size: 2.5vw;
  }
  .main_titleName {
    display: block;
    font-size: 4vw;
    width: 17vw;
  }

  .main_searchBar {
    font-size: 2vw;
  }
  .searchBar_input {
    font-size: 2vw;
    width: 40vw;
  }

  .header_position {
    width: 45vw;
    flex-direction: column-reverse;
  }

  .main_searchBar {
    border: 0.5vw #2748b0 solid;
    width: 100%;
    height: 5vw;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .header_login {
    padding: 0;
  }

  .header_login > li {
    display: flex;
    width: auto;
    padding: 1vw;
  }

  .header_login > li > a {
    font-size: 2.4vw;
  }

  .main_login {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .main_login nav {
    width: 100%;
  }

  .main_login ul {
    justify-content: space-between;
  }

  .main_login ul li {
    padding: 5px 0;
    column-gap: 1vw;
  }
  
  .main_login ul li a {
    text-decoration: none;
    display: flex;
    align-items: center;
    column-gap: 0.2vw;
    font-size: 2.5vw;
  }
}
